.swiper-next {
    width: 60px;
    height: 50px;
    z-index: 1000000;
    background-color: rgb(213, 212, 212);
  
  }
  
  .swiper-prev {
      width: 60px;
      height: 50px;
      z-index: 100000;
      background-color: rgb(213, 212, 212);
    }
  